.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: rgb(243, 227, 229);
}

.footer-container > :nth-child(1) {
  /* font-size: 1.5rem; */
}

.footer-container > :nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 2rem; */
  gap: 5rem;
}
