.testimonial-cover {
  background: rgb(243, 227, 229);
  margin-top: 2rem;
  padding: 1rem;
}

.testimonial-cover > div {
  display: flex;
  padding: 4rem;
  gap: 2rem;
}

.testimonial-cover img {
  border-radius: 50%;
  width: 300px;
  height: 200px;
}

.testimonial-cover span {
  font-size: 0.7rem;
  color: rgb(56, 53, 53);
  font-weight: 500;
}

.testimonial-cover button {
  background: #551a8b;
  color: white;
  padding: 1rem 2rem;
  margin-top: -2rem;
}
