.trending-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  color: rgb(56, 52, 52);
  border-bottom: 1px solid rgb(210, 197, 197);
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  margin-left: 0;
  cursor: pointer;
  gap: 5rem;
  margin-top: -2rem;
}

.trend-index {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trend-index .index {
  color: rgb(210, 197, 197);
  font-size: 2rem;
  padding: 0;
  margin-top: 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending-link .title {
  width: fit-content;
  word-wrap: break-word;
}

.trending-link .description {
  width: fit-content;
  word-wrap: break-word;
}

@media (min-width: 950px) {
  .trending-link {
    width: 20vw;
    margin-right: 10rem;
  }

  .author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .trending-link .title {
    width: fit-content;
    word-wrap: break-word;
    font-size: medium;
    margin-top: -0.8rem;
  }

  .trending-link .description {
    width: fit-content;
    word-wrap: break-word;
  }
}

@media (max-width: 949px) {
  .trending-link {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 530px) {
  .author {
    gap: 0.5rem;
    font-size: 0.7rem;
  }

  .trending-link .title {
    font-size: small;
  }
}
