.trending-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  color: rgb(56, 52, 52);
  border-bottom: 1px solid rgb(210, 197, 197);
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  margin-left: 0;
  cursor: pointer;
  gap: 5rem;
}

.trend-index {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.trend-index .index {
  color: rgb(210, 197, 197);
  font-size: 3rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blog-link .title {
  width: fit-content;
  word-wrap: break-word;
}

.blog-link .description {
  width: fit-content;
  word-wrap: break-word;
}

@media (min-width: 800px) {
  .trending-link {
    width: 20vw;
  }

  .author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .blog-link .title {
    width: fit-content;
    word-wrap: break-word;
  }

  .blog-link .description {
    width: fit-content;
    word-wrap: break-word;
  }
}
