nav {
  /* background: white; */
  /* padding: 0; */
  /* box-shadow: #551a8b; */
  box-shadow: 0 4px 6px -1px #d8d0df, 0 2px 4px -1px rgba(246, 244, 244, 0.06);
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0rem 3rem;
}

nav .search {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  position: relative;
}

nav .search i {
  z-index: 99;
  font-size: 0.75rem;
}

nav input {
  position: absolute;
  left: -0.5rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 50px;
  outline: none;
  /* border: 1px solid gray; */
  border: none;
  /* background: rgb(239, 237, 237); */
  background: #ded2e9;
}

nav > div > :nth-child(2) {
  /* background: #000; */
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 1.5rem;
  font-weight: 600;
}

nav a {
  /* color: black; */
}

nav > div :nth-child(3) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .login {
  background: inherit;
  border: 1px solid #551a8b;
  font-weight: 700;
  color: #551a8b;
}

nav .signup {
  color: white;
  background: #551a8b;
  font-weight: 700;
}
