.create-cover {
    margin: auto;
    max-width: 900px;
    width: full;
    padding: 1rem;
}

.create-container {
    border: 2px solid gray;
    height: 50vh;
}

.create-container img {
    z-index: 20;
    height: 50vh;
    width: 100%;
    cursor: pointer;
}

.create-cover textarea {
    font-size: 2rem;
    width: 100%;
    height: auto;
    margin: 0rem auto;
    resize: none;
    border: none;
    outline: none;
}

.create-container hr {
    margin-top: 0 rem;
    width: fit-content;
    font-weight: bold;
}


