.create-cover {
    margin: auto;
    max-width: 900px;
    width: full;
    padding: 1rem;
}

.create-container {
    border: 4px solid gray;
    height: 30vh;
}

.create-container img {
    z-index: 20;
    height: 30vh;
    width: 100%;
    cursor: pointer;
}

